{% capture category %}{% if post.collection != 'posts' %}1{% else %}{{ post.categories | size }}{% endif %}{% endcapture %}
<h1 class="entry-title">
  {% if linklog %}<span class="linklog-marker">{{ site.linkblog.linkpost.marker }}</span>{% endif %}
  <a class="post-link" href="{{ title_url }}">{{ article_title }}</a>
</h1>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
<div class="footer">
  {% if linklog %}
  <a class="permalink" rel="bookmark" href="{{ permalink }}">{{ site.linkblog.permalink_label }} Permalink</a>
  {% endif %}
  {% if category != '0' %}
  {% if linklog %} &bull; {% endif %}
  <span class="categories">posted in 
    {% if post.collection != 'posts' %}
    {{ post.collection | replace: "-", " " | titlecase }}
    {% else %}
    {% for category in post.categories %}
    <a href="{{ site.baseurl }}/{{ site.category_dir }}/{{ category | slugify }}/">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
    {% endif %}
  </span>
  {% endif %}
</div>
